:root {
    --row-count: 1;
    --column-count: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
body {
    text-align: center;
    background-color: blanchedalmond;
}

header {
    margin-top: 3rem;
    padding: 2rem;
    font-size: 3rem;
}
  

#wrapper {
    padding: 1rem;
}

#container {
    display: grid;
    grid-template-columns: repeat(var(--row-count), minmax(min-content, 1fr));
    grid-template-rows: repeat(var(--column-count), minmax(min-content, 1fr));
    min-height: 500px;
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid black
}

.item {
    border: 1px solid black;
    background-color: white;
    transition: all .2s ease;
}

.item:hover {
    background-color: black;
    color: white;
    border: 1px solid green;
    transform: scale(1.2);

}
